name: Subgraph tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Install commands
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
          registry-url: https://registry.npmjs.org
      - name: test
        working-directory: ./packages/subgraph
        run: yarn test
